
h1{
    text-align: center;
}

#container{
    margin:auto ; 
    height: 400px;
    width: 400px;
    background-color: gray;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.item{
    display: flex;
    margin: 25px;
    width: 150px;
    height: 150px;
    border-radius: 15px;

}
#red{
    background-color: red;
    
}
#yellow{
    background-color: yellow;
}
    
#blue{
    background-color: blue;    
}
#green{
    background-color: green;
}