
body{
    background: #026483;
}
#containerTo{
    background: #ffff;

    width: 100%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}
#inputlist{
    display: flex;
    padding: 10px;
    margin: 20px;
    width: 85%;
    border-radius: 20px;

    
}
#txtbtn{
    
    background-color: green;
    padding: 10px;
    padding-left: 15px;
    position: absolute;
    border-radius: 20px;
    margin-left: 501px;
    margin-top: -60px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: green;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);

}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    columns: green;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: grey;
}

